@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-sm-12">

        <!--Inicio tarjeta-->
        <div class="card">
            <div class="card-header">Clientes de Internet</div>
            <div class="card-body">

                <button class="btn btn-success" id="btnNuevo">Nuevo Cliente</button>

                <hr />

                <table class="table table-striped" id="tblCliente">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Codigo Cliente</th>
                            <th>Nombre</th>
                            <th>Direccion</th>
                            <th>Telefono</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>

            </div>
        </div>
        <!--Fin tarjeta-->

    </div>
</div>



<!--Inicio Modal para CLientes--> 
<div class="modal fade bd-example-modal-lg" id="modalCliente" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Detalle Cliente</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="txtIdCliente" value="0" />
                <div class="mb-2">
                    <label>Nombre Cliente</label>
                    <input type="text" class="form-control" id="txtNombre" required />
                </div>
                <div class="mb-2">
                    <label>Codigo Cliente</label>
                    <input type="text" class="form-control" id="txtCodCliente" />
                </div>
                <div class="d-none">
                    <label>Fecha Alta</label>
                    <input type="text" class="form-control" id="txtFechaAlta" />
                </div>
                <div class="mb-2">
                    <label>Telefono</label>
                    <input type="text" class="form-control" id="txtTelefono" />
                </div>
                <div class="mb-2">
                    <label>Direccion</label>
                    <input type="text" class="form-control" id="txtDireccion" />
                </div>
                <div class="mb-2">
                    <label>Estado</label>
                    @* <input type="text" class="form-control" id="txtEstado" /> *@
                    <select class="form-control" id="txtEstado">
                        <option value="Activo">Activo</option>
                        <option value="Inactivo">Inactivo</option>
                    </select>
                </div>


                <div class="row" id="GrupoServiciosAsociados">
                    <div class="col-sm-12">


                        <h3>Paquete Contratado</h3>
                        <button class="btn btn-success" id="btnAgregarServicio">Agregar Servicio</button>
                        @* <button class="btn btn-primary" id="btnVerPaqueteContratado">Ver Paquete</button> *@
                        <h4>Servicios Asociados</h4>
                        <table class="table table-striped" id="tblServicioAsociados">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Servicio</th>
                                    <th>Tipo</th>
                                    <th>Costo</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>



                    </div>
                </div>
            </div>
            
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnGuardar">Guardar</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!--Fin Modal-->
<!--Inicio Modal ServiciosAsociados-->
<div class="modal" id="modalServiciosAsociados" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Detalle Servicio</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="txtIdServicioASociado" value="0" />
                <div class="mb-2">
                    <label>Nombre Cliente</label>
                    <input type="hidden" id="txtIdClienteASociado" value="0" />
                    <input type="text" class="form-control" id="txtNombreClienteAsociado" readonly/>
                </div>
                
                <div class="mb-2">
                    <label>Servicios Disponibles</label>
                    <select class="form-control" id="selectServicios">
                        <option value="value">text</option>
                    </select>
                </div>
                
                <div class="mb-2">
                    <label>Tipo Servicio</label>
                    
                    @* <input type="text" class="form-control" id="txtTipoServicioAsociado" /> *@
                    <select class="form-control" id="txtTipoServicioAsociado">
                        <option value="OTRO">INTERNET</option>
                        <option value="CABLE TV">CABLE TV</option>
                        <option value="TELEFONIA">TELEFONIA</option>
                        <option value="CABLE TV">OTRO</option>
                    </select>
                </div>
                <div class="mb-2">
                    <label>Direccion Instalacion</label>
                    <input type="text" class="form-control" id="txtDirInstalacionServicioAsociado" />
                </div>
                <div class="mb-2">
                    <label>Coordenadas Instalacion</label>
                    <input type="text" class="form-control" id="txtCoordenadasServicioAsociado" />
                </div>
                <div class="mb-2">
                    <label>Velocidad Internet</label>
                    <input type="text" class="form-control" id="txtVelocidadServicioAsociado" />
                </div>
                <div class="mb-2">
                    <label>Paquete TV</label>
                    @* <input type="text" class="form-control" id="txtPaqueteServicioAsociado" /> *@
                    <select class="form-control" id="txtPaqueteServicioAsociado">
                        <option value="NINGUNO">NINGUNO</option>
                        <option value="BASICO">BASICO</option>
                        <option value="PREMIUM">PREMIUM</option>
                    </select>
                </div>
                <div class="mb-2">
                    <label>Detalles del Servicio</label>
                    <input type="text" class="form-control" id="txtDetalleServicioAsociado" />
                </div>
                <div class="mb-2">
                    <label>Estado</label>
                    <select class="form-control" id="selectEstadoServicioAsociado">
                        <option value="Activo">Activo</option>
                        <option value="Inactivo">Inactivo</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnGuardarServicioAsociado">Guardar</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!--Fin Modal-->

@section Scripts
{
    <script src="~/JSProyecto/JSClientes.js" asp-append-version="true"></script>
}              